#canvasHolder {
    height: 250px;
    width: 1000px;
}

nav > a {
    color: black;
    text-decoration: none;
    margin-right: 2px;
}

nav {
    margin-bottom: 25px;
}

nav > a:hover {
    text-decoration: none;
    color: black;
    opacity: .5;
}

.main-body-container {
    height: 375px;
    width: 800px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    font-family: 'montserrat';
}

header {
    height: 50px;
    margin-bottom: 25px;
}

#bio-container {
    display: none;
    position: absolute;
    width: 650px;
    top: 10%;
    left: 21.5%;
}

#contact-container {
    display: none;
    position: absolute;
    top: 35%;
    left: 39%;
    width: 400px;
}

#contact-container > a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

#contact-container > a:hover {
    color: lightblue;
}

.fa {
    transition: all 1s;
}

.fa:hover{
    transition: all 1s;
    transform: scale(1.2);
}

#portfolio-container li:hover {
    transform: scale(1.4);
    transition: all .5s;
}

#portfolio-container {
    display: none;
}

#innerCarousel {
    width: 795px;
    margin-left: auto;
    margin-right: auto;
}

#innerCarousel img {
    height: 370px;
}

.banner {
    width: 650px;
    height: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
}

