#canvasHolder {
    height: 250px;
    width: 1000px;
}

.code-banner {
    
}

nav > a {
    color: black;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: none;
    font-size: 14.5px;
    color: black;
}

.main-body-container {
    height: 300px;
    width: 800px;
    border: 2px solid black;
    
}

header {
    height: 50px;
}